* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.shine {
    font-size: 2em;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background: #222 -webkit-gradient(linear,
            left top,
            right top,
            from(#222),
            to(#222),
            color-stop(0.5, #fff)) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(-40deg,
            transparent 0%,
            transparent 40%,
            #fff 50%,
            transparent 60%,
            transparent 100%);
    -webkit-background-clip: text;
    -webkit-background-size: 50px;
    -webkit-animation: zezzz;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes zezzz {

    0%,
    10% {
        background-position: -200px;
    }

    20% {
        background-position: top left;
    }

    100% {
        background-position: 200px;
    }
}

.imgseccion2 {
    margin-left: 60px;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

.cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
}

.cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}

.cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
}

.cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
}

.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
}

.Presentacion {
    display: flex;
    position: relative;
    width: 400px;
    left: 200px;
    top: 100px;
}

.Imagenf {
    display: flex;
    position: relative;
    width: 35%;
    height: auto;
    left: 700px;
    bottom: 225px;
}
.Imagenf img {
    border-radius: 4rem;
}